ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

li {
    display: block;
    padding: 8px;
    padding-right: 70px;
}

body {
    background-color: #d6c5e3;
}

img {
    height: 50px;
}

.menu {
    float: right;
}

.logo {
    float: left;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: title;
}

.item3 {
    grid-area: main;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header'
        'title'
        'main';
    gap: 10px;
    padding: 30px;
}

.tab {
    overflow: hidden;
  }

.tab button {
    background-color: #d6c5e3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
.tab button.active {
    background-color: white;
  }

.tab button :hover {
    background-color: beige;
}