ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: large;
}

li {
    display: block;
}

img {
    height: 50px;
}

div {
    width: 100%;
}

.menu {
    float: left;
    padding-top: 8px;
    padding-right: 15px;
}

.title {
    grid-area: header;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form {
    grid-area: title;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header'
        'title';
    gap: 0px;
    padding: 30px;
}

.tab {
    overflow: hidden;
    border-bottom: none;
    grid-area: title;
}

.tab button {
    background-color: #d6c5e3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: rgb(248, 229, 248);
}

.tab button.active {
    background-color: white;
}

.tabcontent {
    background-color: white;
    display: none;
    padding: 6px 12px;
    border-top: none;
}


.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}
  
.loading svg polyline#back {
    fill: none;
    stroke: rgb(177, 176, 176);
}
  
.loading svg polyline#front {
    fill: none;
    stroke: #6a11ad;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
}
  
@keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
}
  
.loading {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    height: auto;
}

.dropzone {
    grid-area: main;
    padding-bottom: 50px;
    background-color: gray;
    height: 300px;
}

.exportButton {
  align-self: right;
  border-radius: 10px;
  background-color: #5c2283 !important;
  color: white;
  padding-left: 20px;
  margin-left: 60px;
}

.exportButton:hover {
  background-color: #89709c !important;
}

.error {
    color: red;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hidden-error {
  display: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #6a11ad;
    text-decoration: underline;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
}